.date-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  opacity: .8;
  width: 100%;
  height: 100%;

  &__num {
    text-align: center;
    width: 100%;
    font-size: 1.8rem;

    @media (min-width: $tabletWidth) {
      font-size: 3.6rem;
    }
  }

  &__month {
    font-size: 1.4rem;

    @media (min-width: $tabletWidth) {
      font-size: 1.8rem;
    }
  }
}