.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 53px;
  grid-gap: 5px;
  margin-top: 5px;

  @media (min-width: $phoneWidth) {
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    margin-top: 10px;
  }

  @media (min-width: $tabletWidth) {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 104px;
    grid-gap: 20px;
    margin-top: 20px;
  }

  .grid-item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .date-item {
      &__num {
        position: relative;
      }
      &__num::after {
        content: "";
        position: absolute;
        right: 7px;
        top: 40%;
        border-top: 3px solid transparent;
        border-left: 4px solid #000000;
        border-bottom: 3px solid transparent;
      }
    }
  }

  .grid-item.a-block {
    grid-row: 3 / 5;
    grid-column: 1 / -1;
    background-size: auto;

    @media (min-width: $phoneWidth) {
      grid-row: 1 / 5;
      grid-column: 4 / 6;
    }

    @media (min-width: $tabletWidth) {
      grid-row: 1 / 3;
      grid-column: 4 / 5;
    }
  }


}