.main-img-section {


  .main-img {

    &__main {
      width: 100%;
      height: 202px;
      background-size: cover;
      position: relative;

      @media (min-width: $phoneWidth) {
        height: 286px;
      }
      @media (min-width: $tabletWidth) {
        height: 455px;
      }

      .date-item {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 80px;
        height: 53px;

        @media (min-width: $phoneWidth) {
          top: 10px;
          left: 10px;
        }
        @media (min-width: $tabletWidth) {
          top: 20px;
          left: 20px;
          width: 160px;
          height: 104px;
        }
      }
    }

    &__description {
      display: none;
      font-family: $secondaryFont;
      font-size: 1.3rem;
      font-weight: bold;
      margin-top: 16px;

      @media (min-width: $tabletWidth) {
        display: block;
      }
    }

    &__source {
      display: none;
      font-family: $secondaryFont;
      font-size: 1.3rem;
      color: $gray-1;

      @media (min-width: $tabletWidth) {
        display: block;
      }
    }
  }
}