.pagination {
  display: flex;
  padding-top: 20px;

  @media (min-width: $phoneWidth) {
    padding-top: 30px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    background-color: transparent;
    font-size: 1.3rem;
    color: #000000;
    @media (min-width: $phoneWidth) {
      margin-left: 10px;
    }

    &.active {
      background-color: $gray-0;
      font-weight: bold;
      border-radius: 50%;
    }

    &--next {
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;
      margin-left: 25px;
      color: #000000;
    }
  }

  &__text {
    display: none;

    @media (min-width: $phoneWidth) {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $gray-2;
      margin-right: 15px;
    }
  }
}