.title-section {
  display: flex;
  padding-bottom: 15px;

  @media (min-width: $phoneWidth) {
    padding-bottom: 25px;
  }


  &__title {
    font-family: $titleFont;
    font-size: 2.6rem;
    text-transform: uppercase;
    margin-right: 20px;

    @media (min-width: $phoneWidth) {
      font-size: 4rem;
      margin-right: 19px;
    }

    @media (min-width: $tabletWidth) {
      margin-right: 16px;
    }
  }

  &__underline {
    position: relative;
    bottom: 5px;
    height: auto;
    flex: 1;
    border-bottom: 2px solid #000000;
  }
}

