// Fonts here

// font-family: 'Noto Sans', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
// font-family: 'Noto Serif', serif;
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
// font-family: 'Playfair Display', serif;
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');