// Font
$mainFont                : 'Noto Serif', serif;
$mainFontColor           : #000000;
$secondaryFont           : 'Noto Sans', sans-serif;
$titleFont               : 'Playfair Display', serif;

// Size
$tabletWidth             : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color
$bgColor                 : #ffffff;
$gray-0                  : #e6e6e6;
$gray-1                  : #acacac;
$gray-2                  : #848484;

