@import "utils/vars";
@import "utils/fonts";
@import "utils/reset";

body, html {
  height: 100%;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  background: $bgColor;
  color: $mainFontColor;
  font-family: $mainFont;
  font-weight: 100;
  font-size: 1.4rem;
}

.container {
  overflow: hidden;
  padding: 0 5px;

  @media (min-width: $phoneWidth) {
    padding: 0 20px;
  }

  @media (min-width: $tabletWidth) {
    padding: 0 34px;
  }
}

.main {
  padding-top: 25px;
  padding-bottom: 21px;
}



// Modules
// @import "modules/my-module.scss";
@import "components/title-section";
@import "components/main-img-section";
@import "components/date-item";
@import "components/grid";
@import "components/pagination";